@using Cocoon.Resources
@{
    var culture = System.Globalization.CultureInfo.CurrentUICulture.TwoLetterISOLanguageName.ToLowerInvariant();
}
<style>
    p{
        font-weight:700
    }
</style>
<div class="content page-container text-right" dir="rtl">
    <div class="container content-container">
        <div class="page-main-container col-xs-12 page-single">
            <div class="thumbnail page-box">
                <div class="panel-heading page-heading">
                    <h3 class="Service-title text-semibold">
                        <strong>نبذة عن الشركة:</strong>
                    </h3>
                </div>
                <div class="caption Service-desc box-more">
                    <p>الرؤية :</p><p>نسعى لأن يكون موقع وتطبيق G4Fit صاحب الريادة في إختيار الخدمات بجودة عالية وبأسعار تناسب جميع فئات المجتمع .</p><p>الرسالة :</p><p>تقديم تشكيلات واسعة وخيارات متنوعة تناسب جميع الأذواق بحيث يكون موقع وتطبيق G4Fit هو الأول على المستوى المحلي والإقليمي والعالمي في جودة الخدمات والسعر الأفضل وسرعة التوصيل .</p><p>القيم :</p><p>المصداقية - كسب رضاء العملاء - جودة الخدمات - السعر الأنسب لجميع فئات المجتمع .</p><p>الأهداف :</p><ul><li>الإستمرارية في التميز والنجاح .</li><li>الجودة في الخدمة .</li><li>الدقة في المواعيد .</li><li>السرعة في التوصيل لجميع أنحاء العالم .</li><li>الإختيار الأمثل للخدمات .</li><li>تلبية جميع متطلبات العملاء وكسب رضائهم .</li></ul><p>سياسة التبديل والإسترجاع:-</p><ul><li>يتم التعامل مع جميع الخدمات المسترجعة حسب أنظمة وزارة التجارة .</li><li>للتبديل يتم إستبدال الخدمات خلال 14 يوم من تاريخ الفاتورة .</li><li>للإسترجاع يتم إسترجاع الخدمات خلال 3 أيام من تاريخ الفاتورة .</li><li>حرصاً على سلامتكم لايمكن إسترجاع القطع التالفة أو الممزقة أو الملابس الداخلية التي سبق وأن تم إستخدامها .</li><li>الرجاء التأكد من المقاس المناسب لكم قبل الطلب .</li><li>التميز للعملاء</li><li>التميز البرونزي - التميز الفضي - التميز الذهبي - التميز الماسي (سوف تضاف نقاط الشراء للعملاء حسب الفئات المحددة بحيث تضاف النقاط للمحفظة المالية لكل عميل كي يستطيع الإستفادة من النقاط المضافة في عمليات الشراء)</li></ul><p>البيع عن طريق موقع G4Fit :</p><p><strong>يمكنك الآن التسجيل للبيع على G4Fit في السعوديه .</strong></p><p>من خلال البيع على G4Fit يمكنك الوصول إلى الملايين من العملاء وزيادة فرص ظهور خدماتك في نتائج البحث وشراءها من قبل العملاء. لاداعي لإنفاق الكثير لتسويق خدماتك نحن نوفر لك عزيزي التاجر التسويق والشحن والتوصيل وبأسعار مناسبة .</p><p>مكاتبنا بالسعوديه  :</p><ul><li>مكة المكرمة - جدة - الطائف - الرياض - دبي - الكويت - بيروت - القاهرة .</li></ul><p>شركات التوصيل المعتمدة بتطبيق G4Fit :</p><p>شركة أرامكس - شركة سمسا - شركة توصيل طلباتك .</p><p>G4Fit-Fashion</p><p>Shopping Online</p><p>⭐️G4Fit عالم جميل⭐️</p><p></p><p>للتواصل :</p><p>بريد إلكتروني : </p><p>موبايل : </p><p>كول سنتر : </p><p>سناب : </p><p>أنستجرام : </p>
                    <div class="clear"></div>
                </div>
            </div>
        </div>
    </div>
</div>