@model G4Fit.Models.Domains.CompanyData
@using Cocoon.Resources
@{
    var culture = System.Globalization.CultureInfo.CurrentUICulture.TwoLetterISOLanguageName.ToLowerInvariant();
}
<style>
    p {
        font-weight: 500
    }
</style>
<div class="container-fluid text-@(culture == "ar" ? "right" : "left") mb-5" dir="@(culture == "ar" ? "rtl" : "ltr")" style="word-break:break-all">
    <h4 class="text-center">@(culture == "ar" ? "خدمة العملاء" : "Customer Support")</h4>
    <hr />
    @if (Model != null)
    {
        if (Model.CustomerServiceAr != null && culture == "ar")
        {
            @Html.Raw(Model.CustomerServiceAr)
        }
        if (Model.CustomerServiceEn != null && culture != "ar")
        {
            @Html.Raw(Model.CustomerServiceEn)
        }
    }
</div>