@model G4Fit.Models.ViewModels.HTMLContentVM
@{
    Layout = "~/Views/Dashboard/Layout.cshtml";
    ViewBag.Title = "محتوى صفحه شروط التوصيل";
}
<div class="panel panel-primary">
    <div class="panel-body">
        @using (Html.BeginForm("Dashboard", "DeliveryRules", FormMethod.Post))
        {
            <h3>محتوى صفحه شروط التوصيل باللغة العربية:</h3>
            <br />
            @Html.TextAreaFor(w => w.ContentAr, new { id = "tiny" })
            <br />
            <h3>محتوى صفحه شروط التوصيل باللغة الانجليزية:</h3>
            <br />
            @Html.TextAreaFor(w => w.ContentEn, new { id = "tiny" })

            <button type="submit" class="btn btn-success">حفظ</button>
        }
    </div>
</div>
