@model G4Fit.Models.Domains.CompanyData
@{
    string culture = "ar";
    if (Request.QueryString["lang"] != null)
    {
        culture = Request.QueryString["lang"];
    }
    Layout = null;
}
<div style="text-align:@(culture == "ar" ? "right" : "left");direction:@(culture == "ar" ? "rtl" : "ltr");word-break:break-all;margin:20px"">

    @if (Model != null)
    {
        if (Model.DeliveringConditionsAr != null && culture == "ar")
        {
            @Html.Raw(Model.DeliveringConditionsAr)
        }
        if (Model.DeliveringConditionsEn != null && culture != "ar")
        {
            @Html.Raw(Model.DeliveringConditionsEn)
        }
    }
</div>