@model G4Fit.Models.ViewModels.HTMLContentVM
@{
    Layout = "~/Views/Dashboard/Layout.cshtml";
    ViewBag.Title = "محتوى صفحه شروط وأحكام البائع";
}
<div class="panel panel-primary">
    <div class="panel-body">
        @{
            var baseUrl = Request.Url.GetLeftPart(UriPartial.Authority);
            var specificPage = "/Suppliers/Join";
            var fullUrl = baseUrl + specificPage;
        }
        <h4>برجاء العلم بان الرابط الخاص بصفحه التسجيل كبائع هو: <a href="@fullUrl">@fullUrl</a></h4>
        @using (Html.BeginForm("SellingPolicy", "Suppliers", FormMethod.Post))
        {
            <h3>محتوى صفحه شروط وأحكام البائع باللغة العربية:</h3>
            <br />
            @Html.TextAreaFor(w => w.ContentAr, new { @class = "rich-text-editor" })
            <br />
            <h3>محتوى صفحه شروط وأحكام البائع باللغة الانجليزية:</h3>
            <br />
            @Html.TextAreaFor(w => w.ContentEn, new { @class = "rich-text-editor" })

            <button type="submit" class="btn btn-success">حفظ</button>
        }
    </div>
</div>

